//== Container
//
container()
	min-width $container--min
	max-width $container--max
	margin 0 auto
	padding-left $offset--mobile
	padding-right $offset--mobile

	@media $tablet
		padding-left $offset--tablet
		padding-right $offset--tablet

	@media $desktop
		padding-left $offset--tablet
		padding-right $offset--tablet



container-fluid()
	width 100%
	margin 0 auto



list-clear()
	list-style none
	padding 0
	margin 0
